[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
fastapi = {extras = ["all"],version = "*"}
flake8 = "*"
install = "*"
flake8-docstrings = "*"
uvicorn = {extras = ["standard"],version = "*"}
pytest = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.9"
